.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 20px ;
  height: 100%;
}

.assistant {
  text-align: center;
  overflow-y: auto;
  width: 100%;
}

.answer {
  text-wrap: balance;
  margin-bottom: 10px;
}

.user {
  display: flex;
  flex-direction: column;
}
